@import "tailwindcss";

@theme {
  --color-primary: oklch(0.95 0.1 200);
  /* ... other theme variables */
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
}

.main {
  width: 100%;
  padding: 0px 50px 32px 50px;
}
