@import "tailwindcss";

@theme {
  --color-primary: oklch(0.95 0.1 200);
  /* ... other theme variables */
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
}

.main {
  width: 100%;
  padding: 0px 50px 32px 50px;
}

/* Phone */
@media (max-width: 599px) {
  .main {
    /* background-color: blue; */
    background-color: white;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 899px) {
  .main {
    /* background-color: green; */
    background-color: white;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .main {
    /* background-color: red; */
    background-color: white;
  }
}
